*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(245, 245, 245);
}

/* CSS for navbar */
.navbar {
  background-color: rgb(40, 51, 74) !important;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  height: 8rem;
  margin-bottom: 1rem;
}

.navbar-light .navbar-brand {
  color: white;
  font-size: 30px;
  padding: 0rem;
  padding-left: 4rem;
}

a {
  color: white !important;
}

/* CSS for update data button  */
.btn {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

h5 {
  font-size: 10px;
  font-family: "Roboto Slab", serif;
}

/* CSS for US Map */
#map-container {
  background-color: white;
  padding: 0;
}

.map-svg {
  display: block;
  margin: auto;
}

.slideContainer {
  text-align: center;
  /* padding: 10rem; */
  /* margin-top: 1rem;
  margin-left: 3rem; */
}

#play-button {
  width: 5rem;
  height: 5rem;
  font-size: 10px;
  font-family: "Roboto Slab", serif;
}
.current-date {
  font-size: 10px;
  font-family: "Roboto Slab", serif;
}

#checkbox_container {
  border: sold;
  border-width: 1px;
  border-color: black;
  text-align: center;
  margin: auto;
  width: 50%;
  background-color: lightgray;
  font-size: 10px;
  font-family: "Roboto Slab", serif;
}

.state {
  fill: none;
  stroke: #333;
  stroke-width: 0.5;
}

.county {
  fill: #d8d8d8;
  stroke: #fff;
  stroke-width: 0.15;
  opacity: 0.7;
}

/* CSS for barchart and scatter plot */
#charts-container {
  padding: 0;
}

h4 {
  background-color: rgb(40, 51, 74);
  color: White;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

/* CSS for comments  */
#footnotes-container {
  margin-top: 2rem;
  background-color: white !important;
}

p {
  font-size: 10px;
  font-family: "Roboto Slab", serif;
}
