#stacked_bar_chart{
  border: solid;
  border-width: 1px;
  border-color: black;
  /* margin:50px; */
  /* padding:10px;   */
  width: 100%;
  height: 350px;
}
#scatter-plot{
  border: solid;
  border-width: 1px;
  border-color: black;
  /* margin:50px; */
  /* padding:100px;   */
  width: 100%;
  height: 350px;
  background-color:lightgray;
}