<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>COVID-19 Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet" />
</head>

<body>
  <!--Nav-bar starts here-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light narvar-text">
    <a class="navbar-brand heading_text" href="/"><b>COVID-19 Cases - Dashboard</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse nav-left" id="navbarNavDropdown">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Data <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>

  </nav>
  <!--Nav-bar ends here-->

  <!-- Column for paragraph  -->
  <div class="container col-md-8" id="about-container">
    <h3>About This Data Visualization</h3>
    <hr>
    <p>
      This dashboard was built to study the impact of COVID-19 on
      unemployment in the US. The main motivation behind the study is the
      following:
    </p>
    <br />
    <ul>
      <li>Which top 10 states have historically been impacted.</li>
      <li>
        Which states have been more impacted in terms of unemployment
        claims?
      </li>
      <li>
        How is the correlation between rise in cases and rise in
        unemployment claims varying overtime?
      </li>
      <li>Historical development of confirmed Covid cases in the US.</li>
    </ul>
    <p>
      This dashboard was built as part of a group project for Data
      Visualization and Analytics bootcamp in Minnesota. We are a group of
      Aspiring Data Scientists who come from various academic backgrounds
      and expertise, but are passionate about Coding and Data.
    </p>
  </div>
  </div>
</body>

</html>