<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <!--Nav-bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light narvar-text">
        <a class="navbar-brand heading_text" href="index_ryan copy.html"><b>COVID-19 Cases - Dashboard</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse nav-left" id="navbarNavDropdown">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Data <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
            
    </nav>
    <!--Nav-bar ends here-->

    <div class="container col-md-12" id="parent-container">
        <!-- Column for update data button -->
        <div class="col-md-12 text-center">
                    <p><a class="btn btn-secondary btn-md" href="/update" role="button">Update Data</a></p>
                    <p>
                        <h5>Data updated as of: {{text}}</h5>
                    </p>
        </div>

        <!-- Column for US Map  -->
        <div class="row">
            <div class="col-md-6" id="map-container">
                <h4>COVID-19 Confirmed Cases US Map</h4>
                <div id="US-map"></div>
                <div class="slideContainer">
                    <button type="button" id="play-button">play</button>
                    <span><input type="range" min="1" , max="100" value="1" id="myRange" class="slider"></span>
                    <p class="current-date">Date: <span id="value"></span></p>
                </div>
                <div class="checkbox-container" id="checkbox_container">
                    <input type="checkbox" name="circle-layer" checked>COVID-19 Confirmed Cases <br>
                    <input type="checkbox" name="marker-layer">State Stats
    
                </div>
    
    
               
            </div>

            <!-- Column for bar graph and scatter plots  -->
            <div class="col-md-6" id="charts-container">
                <div class="col-md-12 text-center">
                    <h4 class="cases-header">Top 10 States with COVID-19 Cases</h4>
                    <div id="stacked_bar_chart"></div>
                </div>
                <div class="col-md-12 text-center">
                    <h4 class="unemployment-header">Unemployment Claims vs Number of Confirmed Cases</h4>
                <div id="scatter-plot"></div>
            </div>
        </div>

        <!-- Column for paragraph  -->
        <div class="row">
            <div class="col-md-12" id="footnotes-container">
                <h4>About Us & This Data Visualization</h4>
                <p>This dashboard was built to study the impact of Covid19 on unemployment in the US. The main motivation  behind the study is the following:
                    Historical development of confirmed Covid cases in the US.
                    Which top 10 states have historically been impacted.
                    Which states have been more impacted in terms of unemployment claims?
                    How is the correlation between rise in cases and rise in unemployment claims varying overtime?
                    This dashboard was built as part of a group project for Data Visualization and Analytics bootcamp in Minnesota.
                    We are a group of Aspiring Data Scientists who come from various academic backgrounds and expertise, but are passionate about Coding and Data.
                </p>
            </div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="../static/js/covid-map.js"></script>
    <script src="../static/js/bar_chart.js"></script>
    <script src="../static/js/scatter_plot.js"></script>
</body>


</html>