<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoVid-19 Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/css/map-style.css" /> -->
    <link rel="stylesheet" href="../static/css/style.css" />

</head>

<body>
    <!--Nav-bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light narvar-text">
        <a class="navbar-brand heading_text" href="index_ryan copy.html"><b>COVID-19 Cases - Dashboard</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse nav-left" id="navbarNavDropdown">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Data <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
    </nav>
    <!--Nav-bar ends here-->

    <div class="container col-md-12" id="parent-container">
        <div class="container" id="heading-container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><a class="btn btn-secondary btn-md" href="/update" role="button">Update Data</a></p>
                    <p>
                        <h5>Data updated as of: {{text}}</h5>
                    </p>
                </div>
            </div>
        </div>
        <!--heading-container ends here-->
        <!-- </br> -->
        <div class="row">
            <div class="container col-md-12" id="visualization-container">
                <div class="row">
                    <div class="container col-md-6" id="map-container">
                        <div class="slideContainer">
                            <button type="button" id="play-button">play</button>
                            <span><input type="range" min="1" , max="100" value="1" id="myRange" class="slider"></span>
                            <p>Date: <span id="value"></span></p>
                        </div>
                        <!--slideContainer ends here-->
                        <div class="checkbox-container" id="checkbox_container">
                            <input type="checkbox" name="circle-layer" checked>COVID-19 Confirmed Cases <br>
                            <input type="checkbox" name="marker-layer">State Stats

                        </div>
                        <!--check-box container ends here-->

                        <div class="container" id="US-map"></div>
                        <!--US-map container ends here-->

                    </div>
                    <div class="container col-md-6" id="charts-container">
                            <!-- <div class="col-md-6"> -->
                                <div class="col-md-12 text-center">
                                    <h4>Top 10 States with COVID-19 Cases</h4>
                                </div>
                                <div id="stacked_bar_chart">

                                <!-- </div> -->
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-6"> -->
                                <div class="col-md-12 text-center">
                                    <h4>Unemployment Claims vs Number of Confirmed Cases</h4>
                                </div>
                                <div id="scatter-plot">

                                <!-- </div> -->
                        </div>

                        </div>
                        </br>
                        <!-- <div class="row"> -->
                        <div class="col-md-12" id="footnotes-container">
                            <h1>Some random explanations come here</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget quam finibus,
                                bibendum neque in, dapibus
                                lorem. Aliquam venenatis aliquet velit sit amet rhoncus. Duis in molestie neque. Aliquam
                                faucibus lacinia quam
                                dictum auctor. Nullam ac eros eleifend, commodo libero vel, lobortis eros. Sed vel
                                interdum mi, in dictum
                                odio.
                                Integer laoreet orci vitae risus iaculis euismod. Proin est lorem, venenatis id diam ut,
                                tempor hendrerit
                                quam.
                                Curabitur lacinia risus lacus, id bibendum arcu venenatis quis. Donec pretium ex tellus,
                                sit amet fringilla
                                magna imperdiet id. In hac habitasse platea dictumst. Proin rhoncus et purus non
                                lacinia. Sed in venenatis
                                sem,
                                sit amet lacinia enim. Ut luctus non magna eu pretium. Aliquam facilisis, justo sodales
                                fermentum tincidunt,
                                neque nibh faucibus urna, a egestas magna orci ac nibh. Donec dapibus a lacus vitae
                                ullamcorper.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--visualization-container ends here-->
        </div>
    </div>
    <!--parent-container ends here-->
    <!-- <div class="container" id="stacked_bar_chart">
    </div> -->

    <!-- <div id="US-map">
    </div> -->


    <!-- <div class="parent-container"> -->
    <!-- <div id="stacked_bar_chart">
    </div> -->
    <!--bar chart container ends here-->
    <!-- </div> -->


    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="../static/js/covid-map.js"></script>
    <script src="../static/js/bar_chart.js"></script>
    <script src="../static/js/scatter_plot.js"></script>
</body>


</html>